body {
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul li a {
    text-decoration: none;
    color: #696969;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

ul li a:hover {
    text-decoration: underline;
}


.nav-section ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 25px 0 0 0;
}

.left-nav ul {
    padding-left: 25px;
    width: 90px;
    justify-content: space-between;
}
.right-nav ul {
    padding-right: 25px;
    width: 100px;
    justify-content: space-between;
}

.main-content {
    position: relative;
    top: 150px;
    
    text-align: center;
}

.search-form {
    margin-top: 10px;
}

.search-button-div {
    margin-top: 25px;
}

#query {
    width: 550px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #d0e3ea;
    padding-left: 50px;
}

#query:hover {
    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

#query:focus {
    outline: 0;

    box-shadow: 0px 0px 5px rgb(228, 228, 228);
}

.search-button {
    width: 135px;
    height: 35px;

    border: none;
    border-radius: 4px;
    background-color: #f0f6f9;
    color: rgb(92, 92, 92);

    font-family: Arial, sans-serif;
    font-size: 14px;
}

.search-button:hover {
    border: 1px rgb(206, 206, 206) solid;
    color: rgb(41, 41, 41);
    background-color: #eff5f8;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;

    margin: 0;


    display: flex;
    justify-content: space-between;

    background-color: #f2f2f2;
}

.footer-section ul {
    display: flex;
    list-style-type: none;

    padding: 0;
    margin: 0;



    padding-top: 12px;
}

.footer-section ul li a {
    font-size: 13px;
}

.left-footer ul {
    padding-left: 25px;

    display: flex;
    justify-content: space-between;
    width: 300px;
}

.right-footer ul {
    padding-right: 25px;

    display: flex;
    justify-content: space-between;
    width: 200px;
}